.contact-section {
  padding: 10px 20px;
  background: #0f0f0f;
  text-align: center;
}

.contact-heading {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 40px;

  background: linear-gradient(90deg, #ff0055, #00c6ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.contact-form {
  max-width: 650px;
  margin: 0 auto;
  background: #151515;
  padding: 35px;
  border-radius: 20px;
  border: 2px solid #232323;
  box-shadow: 0 0 25px rgba(255, 0, 80, 0.2);
}

.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  color: #cccccc;
  font-size: 1rem;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 12px 14px;
  background: #0f0f0f;
  border: 1px solid #383838;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  outline: none;
  transition: 0.3s ease;
}

.input-group input:focus,
.input-group textarea:focus {
  border-color: #ff0055;
  box-shadow: 0 0 15px rgba(255, 0, 80, 0.3);
}

.contact-btn {
  width: 100%;
  background: linear-gradient(90deg, #ff0055, #00c6ff);
  padding: 14px 0;
  border: none;
  border-radius: 10px;
  color: black;
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
  transition: transform 0.25s ease;
}

.contact-btn:hover {
  transform: scale(1.06);
}

@media (max-width: 500px) {
  .contact-heading {
    font-size: 2.2rem;
  }

  .contact-form {
    padding: 25px;
  }
}
