.navbar {
  width: 100%;
  padding: 12px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f0f0f;
  border-bottom: 2px solid rgba(255, 0, 80, 0.25);
  font-family: 'Montserrat', sans-serif;
  position: sticky;
  top: 0;
  z-index: 9999;
}

/* LEFT SIDE */
.left-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 55px;
}

/* NAME */
.name {
  font-size: 28px;
  font-weight: 700;
  background: linear-gradient(90deg, #ff0055, #00c6ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
}

/* DESKTOP NAV LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
  font-size: 18px;
  padding-right: 20px;
}

.nav-links li a {
  text-decoration: none;
  font-weight: 500;
  padding: 6px 0px;
  color: #e4e4e4;
  transition: 0.3s ease;
  position: relative;
}

.nav-links li a:hover {
  color: white;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 3px;
  background: linear-gradient(90deg, #ff0055, #00c6ff);
  transition: width 0.3s ease;
  border-radius: 5px;
}

.nav-links li a:hover::after {
  width: 100%;
}

/* ====== MOBILE MODE ====== */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.bar {
  width: 28px;
  height: 3px;
  background: #e4e4e4;
  border-radius: 5px;
  transition: 0.3s;
}

/* Mobile Only */
@media (max-width: 768px) {

  .hamburger {
    display: flex;
  }

  /* Turn horizontal menu → hidden dropdown */
  .nav-links {
    position: absolute;
    top: 70px;
    right: 20px;
    width: 200px;
    background: #0f0f0f;
    flex-direction: column;
    gap: 18px;
    padding: 20px;
    display: none;  /* hidden by default */
    border-left: 2px solid rgba(255, 0, 80, 0.25);
    border-bottom: 2px solid rgba(255, 0, 80, 0.25);
    border-radius: 0 0 0 12px;
  }

  /* When menuOpen = true */
  .nav-links.active {
    display: flex !important;
  }

  .name {
    font-size: 22px;
  }
}
